fieldset {
    width: 250px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

input {
    border-radius: 5px 5px 5px 5px;
}

input[type="button"] {
    border-style: none;
    padding: 10px 25px;
    font-size: large;
}

input:hover {
    cursor: pointer;
}

#btnStart:hover {
    background-color: green;
    color: white;
}

#btnStart {
    background-color: rgb(193, 248, 193);
}

#btnPause:hover {
    background-color: rgb(174, 174, 249);
    color: white;
}

#btnPause {
    background-color: rgb(223, 223, 249);
}

#btnStop:hover {
    background-color: red;
    color: white;
}

#btnStop {
    background-color: rgb(247, 192, 192);
}

#chrono {
    font-size: 1.5em;
}
